<div class="form-row border border-dark bg-dark text-white rounded" style="background-image: url('./img/head_bg00b.jpg'); background-size: cover;">
	<div class="container col-8">
		<br>
		<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
		<form onSubmit="searchBox()" target="dummyframe">
			<div class="form-row">
				<div class="col-10">
					<input type="text" class="form-control border border-dark" id="search_input" placeholder="Search for a charity by name, keyword, location, type...">
				</div>
				<div class="col-2">
					<button type="submit" class="btn btn-dark border border-rounded border-light my-2">Search</button>
				</div>
			</div>
		</form>
		<br>
	</div>
</div>
