<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./about.html">About</a>
            </li>
        </ul>
        <a class="navbar-brand" href="./home.html">CharityHub</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./register.html">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./login.html">Login</a>
            </li>
        </ul>
    </nav>
</head>

<body>


    <!-- login form -->
    <div id="login">
        <form class="form-signin">
            <h1>Login</h1>
            <div class="form-item">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username/Email" required>
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
                <small><a href="#">Forgot Password?</a></small>
            </div>
            <div class="form-item form-check">
                <input type="checkbox" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</body>

</html>