<!DOCTYPE html>
<html>

<head>
    <link rel='icon' href='/img/favicon.ico' type='image/x-icon'>
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- navigation bar -->
    <%- include('../partials/nav.ejs', {bg: 0}) %>
        
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="font-weight-bold text-center mt-4 mb-0">About</h1>
            <br>
            <p>Our mission is to provide a simple and accessible hub for charities, non-profits, and disaster-relief organizations to find potential donors, from casual users to philanthropists.</p>
        </div>
    </div>

    <div class="container">
        <p>
            The goal of this website is to provide a simple and accessible way for charities, nonprofits, and disaster-relief organizations to expand their reach to potential donors.
            The foundation of our system would be to allow people who have philanthropic interests to access an organized system to find charities and resources that help them put money towards helping missions that are important to them. We want to bring a relative easy to the process of donating towards a charity. 
            Oftentimes it can be hard to find a charity that matches your intended mission, and can take a lot of research to ensure that the money is being put towards positive aspects. 
        </p>

        <br>

        <p>
            This website is a non-profit centralized database that provides a straight-forward and accessible way for common people to find charities catered to their interests or relevant to their situations. 
            It will also provide a streamlined way for people to start their own charities or foundations by listing all necessary steps to establish themselves, as well as allow them to upload a statement with their statistics and goals to help them be categorized and recommended to users.
        </p>

        <h2 class="font-weight-bold text-center mt-4 mb-0">Members</h2>

        <div class="container">
            <div class="row">
                <div class="col-md-4" align="center">
                    <img class="rounded-circle" src="/img/profile_pic.png" style="width: 50%;">
                    <p>Micah Cook</p>
                </div>
                <div class="col-md-4" align="center">
                    <img class="rounded-circle" src="/img/profile_pic.png" style="width: 50%;">
                    <p>Matt Eccles</p>
                </div>
                <div class="col-md-4" align="center">
                    <img class="rounded-circle" src="/img/profile_pic.png" style="width: 50%;">
                    <p>Philip Knott</p>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4" align="center">
                    <img class="rounded-circle" src="/img/profile_pic.png" style="width: 50%;">
                    <p>Jacob Line</p>
                </div>
                <div class="col-md-4" align="center">
                    <img class="rounded-circle" src="/img/profile_pic.png" style="width: 50%;">
                    <p>Joseph Nam</p>
                </div>
                <div class="col-md-4" align="center">
                    <img class="rounded-circle" src="/img/profile_pic.png" style="width: 50%;">
                    <p>Vinayak Sharma</p>
                </div>
            </div>
            
        </div>

    </div>
    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
    
</body>

</html>