<!DOCTYPE html>
<html>

<head>
	<title>Add a Charity</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!--
	<link rel="stylesheet" href="./styles/styles.css">
	-->
</head>

<body>
    <!-- navigation bar -->
    <%- include('../partials/nav.ejs', {bg: 1}) %>

	<!-- form -->
	<div class="container">
		<br><h1>Add a Charity</h1><br>
		<form>
			<div class="form-row">
				<div class="col">
					<div class="form-group">
						<label for="charity_name">Charity Name</label>
						<input type="text" class="form-control" id="charity_name" placeholder="Name of the organization" required>
					</div>
				</div>
				<div class="col">
					<label for="charity_type1">Charity Types</label>
					<div class="form-row">
						<div class="col">
							<div class="form-group">
								<input type="text" class="form-control" id="charity_type1" placeholder="Required" required>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<input type="text" class="form-control" id="charity_type2" placeholder="Optional">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<input type="text" class="form-control" id="charity_type3" placeholder="Optional">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="charity_mission">Mission</label>
				<textarea class="form-control" id="charity_mission" rows="5" placeholder="The organization's mission statement."></textarea>
			</div>
			<div class="form-group">
				<label for="charity_tag">Tag</label>
				<input type="text" class="form-control" id="charity_tag" placeholder="A brief (one-sentence) description of the charity." required>
			</div>
			<div class="form-row">
				<div class="col">
					<div class="form-group">
						<label for="charity_url">Website</label>
						<input type="url" class="form-control" id="charity_url" placeholder="https://www...">
					</div>
					<div class="form-group">
						<label for="charity_url_fb">Facebook</label>
						<input type="url" class="form-control" id="charity_url_fb" placeholder="https://www...">
					</div>
					<div class="form-group">
						<label for="charity_url_tw">Twitter</label>
						<input type="url" class="form-control" id="charity_url_tw" placeholder="https://www...">
					</div>
					<div class="form-group">
						<label for="charity_url_in">Instagram</label>
						<input type="url" class="form-control" id="charity_url_in" placeholder="https://www...">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="charity_contact">Address</label>
						<textarea class="form-control" id="charity_contact" rows="3" placeholder="Official business address"></textarea>
					</div>
					<div class="form-group">
						<label for="charity_logo">Charity Logo</label>
						<input type="file" accept="image/*" class="form-control" id="charity_logo">
					</div>
					<div class="form-group">
						<label for="charity_photos">Profile Photo</label>
						<input type="file" accept="image/*" class="form-control" id="charity_photo">
					</div>
				</div>
			</div>
			<a type="submit" class="btn btn-dark" style="float: right;">Submit</a>
		</form>
	</div>
    
    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
	
</body>

</html>
