<!DOCTYPE html>
<html>

<head>
	<title>CharityHub</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="/scripts/editCharity.js"></script>
</head>

<body onload="getHome()">
    <!-- navigation bar -->
    <%- include('../partials/nav.ejs', {bg: 0}) %>
	
    <% // if(messages.error) { %>
	<%// = messages.error %>
	<%//  } %>

	<% if(failLoggedInMessage.length > 0) { %>
		<div class="container alert alert-danger" role="alert" style="text-align: center">
			<%= failLoggedInMessage %>
		</div>
	<% } %>

    <!-- search box -->
	<br>
	<div class="container">
		<div class="form-row border border-dark bg-dark text-white rounded" style="background-image: url('./img/head_bg00b.jpg'); background-size: cover;">
			<div class="col"></div>
			<div class="col-6">
				<br><input type="text" class="form-control border border-dark" id="search_input" placeholder="Search for a charity by name, keyword, location, type..."><br>
			</div>
			<div class="col"></div>
		</div>
	</div>

    <!-- charity cards -->
	<div class="container">
		<br><a type="button" class="btn btn-dark btn-lg" href="/add-charity" style="float: right;">Add a Charity</a>

		<br><h3 id="title1"></h3>
		<div class="container">
			<div class="card-deck text-center" id="row1">
			</div>
		</div>

		<br><h3 id="title2"></h3>
		<div class="container">
			<div class="card-deck text-center" id="row2">
			</div>
		</div>

		<br><h3 id="title3"></h3>
		<div class="container">
			<div class="card-deck text-center" id="row3">
			</div>
		</div>
	</div>

	<!-- page navigation -->
	<br>
	<div class="row">
		<div class="col">
			<br><button type="button" class="btn btn-dark btn-lg" disabled="true" onclick="" style="float: right;">Previous Page</button>
		</div>
		<div class="col">
			<br><button type="button" class="btn btn-dark btn-lg" onclick="" style="float: left;">Next Page</button>
		</div>
	</div>
	<br><br>

</body>

</html>