<!DOCTYPE html>
<html>

<head>
   <link rel='icon' href='/img/favicon.ico' type='image/x-icon'>
   <title>CharityHub Profile</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <!-- <link rel="stylesheet" href="styles.css"> -->
   <script src="/scripts/flickr.js"></script>
   <script>
      const fetch = require('node-fetch')
   </script>
</head>

<body>
   <%- include('../partials/nav.ejs', {bg: 0}) %>

   <div class="container">
        <button type="button" class="btn btn-primary mt-5 ml-5" data-toggle="modal" data-target="#payment_modal">Update Feed Preferences</button>
   </div>


   <div class="modal fade" id="payment_modal" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <form action="/pay" method="post">
             <div class="modal-header">
                <h5 class="modal-title">
                   Update feed preferences
                </h5>
             </div>
             <div class="modal-body">
                <input type="text" name="username" placeholder="Enter username">
                <input type="text" name="charity" placeholder="Enter charity to donate to">
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
             </div>
          </form>
       </div>
    </div>
 </div>

   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>

</body>

</html>